doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    script(src="/javascripts/libs/jquery-1.11.0.min.js")
    block headjs
  body
    ul.nav
        li: a(href="/index")    main
        li: a(href="/people") people
        li: a(href="/user/new") projects
        li: a(href="/user/new") objects
        li: a(href="/user/new") time
        li: a(href="/user/new") finances
    block content
